

.title{


  display: flex;
  justify-content: space-between;

}

.title-btn {


  margin-top: 20px;
  margin-left: 10px;

}

.container {

  width: 800px;

}


.nav-tabs a{
  background-color:#d9d9d9;
  color: black;
  font-size: 14px;


}


.demo li {
   border-bottom: 1px solid #000;
}


.nav-tabs > li > a:hover{
  background-color: #161616 !important;
    border: medium none;
    border-radius: 0;
    color: white;

}

.card-container {
display: flex;
}

.nav-tabs > li.active > a:hover {
color: white ;

}

.card-corner {
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;

}

.text-list {

display: flex;
justify-content: space-between;
text-align: left;
font-size: 13px;
width: 450px;

}

li {

  display: inline;

}

.title-list {

  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 10px;

}

.col-xs-3 {
 margin-left: 10px;
  padding-bottom: 10px;
}

.tab-content {

  margin-top: 20px;
}

.title-price {
    font-size: 12px;
    padding :10px;
    width: 100px;
    background-color: #16CF7E;
    color: white;
}
