.title {
  font-size: 16px;
  text-align: left;
}

h1 {
  font-family: 'Archivo Black';
  text-align: left;
  font-size: 35px;
}

.picture {


 grid-column: 1 / 4;
  grid-row: 1;
}

.text {
  font-size: 14px;

  width: 350px;

  margin-left: 45px;

}


.formulaire {
  display: inline-block;

 width: 250px;
 margin-left: 45px;
}

.container-show {
display: grid;
grid-template-columns: repeat(4, 1fr);
height: 800px;
}



.align {
width: 600px;
display: flex;
}

.btntag {
  text-decoration: none;
  color: white;
margin-right:10px;
justify-content: space-between;
padding: 10px;
background-color: black;

}

.separated {

  display: flex;
}

.flex {
  display: flex;
}

.wrapper {


  margin-top: 50px;
}
