.title {
  font-size: 16px;
  text-align: left;
}

h1 {
  font-family: 'Archivo Black';
  text-align: left;
  font-size: 35px;
}

.picture {


 grid-column: 1 / 4;
  grid-row: 1;
}

.text {
  grid-column: 3 / 4;
  grid-row: 1;
  width: 350px;
}


.formulaire {
  margin-top: 300px;
  display: inline-block;
 grid-column: 3 / 4 ;
 grid-row: 1;
 width: 250px;
}

.container-show {
display: grid;
grid-template-columns: repeat(4, 2fr);
height: 600px;
}



.align {
width: 600px;
display: flex;
}

.btntag {
  text-decoration: none;
  color: white;
margin-right:10px;
justify-content: space-between;
padding: 10px;
background-color: black;

}

.separated {

  display: flex;
}
