<div class="wrapper">
  <div class="container">
    <h1>My bookings</h1>

      <h2>Bookings sur mes objets</h2>
      <ul>
      <% @pieces_owned.each do |own|%>
        <li><%= own.name %> </li>
      <% end %>
      </ul>

      <h2>Bookings pending</h2>
      <ul>
      <% @pieces_rented.each do |rent|%>
        <li><%= rent.name %> </li>
      <% end %>
      </ul>

  </div>
</div>
