<div class="wrapper">
  <div class="container">
    <h1>My bookings</h1>


    <h2>Bookings I made</h2>
    <ul>
    <% @pieces_rented.each do |rent|%>
      <li><%= rent.name %> </li>
    <% end %>
    </ul>

    <br>


    <h2>Bookings over my Art Pieces</h2>
    <%= render 'bookings', bookings: @my_pieces_reserved %>

    <br>


  </div>
</div>
