<div class="footer">

  <div class="navigation-title" data="SUPPORT">SUPPORT
    <ul class="navigation-items">
      <li class="navigationlist"><a data-text-content="Compliance" href="#">Compliance</a></li>
      <li class="navigationlist"><a data-text-content="Contact Us" href="#">Contact Us</a></li>
      <li class="navigationlist"><a data-text-content="FAQ" href="#">FAQ</a></li>
    </ul>
  </div>
  <div class="navigation-title" data="CORPORATE">CORPORATE
    <ul class="navigation-items">
      <li class="navigationlist"><a data-text-content="Investor Relations" href="#">Investor Relations</a></li>
      <li class="navigationlist"><a data-text-content="Press" href="#">Press</a></li>
      <li class="navigationlist"><a data-text-content="Private Policy" href="#">Private Policy</a></li>
   </ul>
  </div>
  <div class="navigation-title" data="More...">MORE...
   <ul class="navigation-items">
      <li class="navigationlist"><a data-text-content="Security" href="#">Security</a></li>
      <li class="navigationlist"><a data-text-content="Terms and Conditions" href="#">Terms and Conditions</a></li>
      <li class="navigationlist"><a data-text-content="Private Policy" href="#">Private Policy</a></li>
    </ul>
  </div>
</div>
