<div class="wrapper">
  <div class="container index-container">
    <div class="col-xs-12">

        <%= form_tag pieces_path, method: :get, class: "search" do %>
          <%= text_field_tag :query,
            params[:query],
            placeholder: "Find a piece",
            class: "input"
          %><i class="fa fa-search" aria-hidden="true"></i>
        <% end %>

    </div>

    <% if @pieces.size == 0 %>
      <div class="col-xs-12">
        <p>No pieces matches with query.</p>
      </div>
    <% else %>
      <% @pieces.each do |piece| %>
        <%= render "shared/card", piece: piece %>
      <% end %>
    <% end %>

    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<%= render 'patients/form', user: User.new %>

simple_form(user)
