<h1>List of all Pieces on the website</h1>
<br>
<div class="container">
  <div class="row">

      <% @pieces.each do |piece| %>
    <div class="col-xs-12 col-sm-4">
        <div class="piece-card">
          <div class="card-category">
              <%= link_to piece.name, piece_path(piece) %>


          </div>
          <div class="price">
              <p> <%= piece.price %> </p>
            </div>$
          </div>
    </div>
    <% end %>

  </div>
</div>


<%= link_to "Add a piece", new_piece_path %>


