.piece-card {
  margin-top : 10px;
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;


}

.piece-card:hover {
  opacity: 0.9;
  background-size: cover;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.price {
position: absolute;
right: 50px;
bottom: 0px;
width: 40px;
border-radius: 50%;
}

h1 {
  font-family: 'Abel', sans-serif;
 text-align: center;

}

a {

  color: white;
}

.addpiece  {
  padding-top: 25px;
  margin-right: 250px;
  margin-left: auto;

}

.bouton {
  display: flex;
  width: 100%;
  height: 100px;
}
